/* Adding custom fonts for calligraphy */
@font-face {
    font-family: 'Thuluth';
    src: url('fonts/ThuluthRegular.ttf') format('truetype'); /* Path to your font file */
}
@font-face {
    font-family: 'Diwani';
    src: url('fonts/DiwaniLetterRegular.ttf') format('truetype'); /* Path to your font file */
}
@font-face {
    font-family: 'Naskh';
    src: url('fonts/TraditionalNaskhRegular.ttf') format('truetype'); /* Path to your font file */
}

/* Default output style */
#output {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Diwani', sans-serif; /* Default font is Diwani */
}

/* Optional: Style for font selection dropdown */
select {
    font-size: 18px;
    padding: 5px;
}

