@font-face {
    font-family: 'DiwaniLetterRegular';
    src: url('/fonts/Diwani-Letter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DiwaniBentRegular';
    src: url('/fonts/Diwani-Bent-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FarsiSimpleBoldRegular';
    src: url('/fonts/Farsi-Simple-Bold-Regular') format('truetype');
}

@font-face {
    font-family: 'Amiri-Italic';
    src: url('/fonts/Amiri-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'CairoPlay-Regular';
    src: url('/fonts/CairoPlay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lateef-Regular';
    src: url('/fonts/Lateef-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mada-Regular';
    src: url('/fonts/Mada-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ScheherazadeNew-Regular';
    src: url('/fonts/ScheherazadeNew-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Regular';
    src: url('/fonts/Tajawal-Regular.ttf') format('truetype');
}

body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #4a90e2;
    margin-bottom: 20px;
}

label {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    color: #444;
    margin: 25px;
}

input, button {
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px 0;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
}

input:focus, button:hover {
    border-color: #4a90e2;
    box-shadow: 0 2px 6px rgba(74, 144, 226, 0.4);
}

button {
    background-color: #4a90e2;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button#generateBtn {
    background-color: #28a745;
}

button#generateBtn:hover {
    background-color: #218838;
}

button#printBtn {
    background-color: #077bff;
}

button#printBtn:hover {
    background-color: #00ace0;
}

#output {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #ddd;
    border-radius: 8px;
    display: none;
    max-width: 100%;
    max-height: 70vh;
}

@media (max-width: 768px) {
    input, button {
        width: 250px;
    }
}
