@font-face {
    font-family: 'DiwaniLetterRegular';
    src: url('/fonts/Diwani-Letter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DiwaniBentRegular';
    src: url('/fonts/Diwani-Bent-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FarsiSimpleBoldRegular';
    src: url('/fonts/Farsi-Simple-Bold-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amiri-Italic';
    src: url('/fonts/Amiri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CairoPlay-Regular';
    src: url('/fonts/CairoPlay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lateef-Regular';
    src: url('/fonts/Lateef-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mada-Regular';
    src: url('/fonts/Mada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ScheherazadeNew-Regular';
    src: url('/fonts/ScheherazadeNew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tajawal-Regular';
    src: url('/fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --user-font: 'DiwaniLetterRegular';
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent page scroll */
}

body {
    font-family: var(--user-font), sans-serif;
    background: url('../background/landscape2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) {
    body {
        background: url('../background/portrait2.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

.settings-container {
    background: rgba(255, 255, 255, 0.363);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    height: 90vh; /* Make it fit inside page */
    overflow-y: auto; /* Internal scroll if needed */
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #110303;
}


.form-group input[type=number],
.form-group select {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0a0a0a;
    width: 100%;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px;
    color: #333;
}

button {
    background-color: rgba(255, 255, 255, 0.363);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #b3009b;
}

.thumb {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.input-preview-group {
    display: flex;
    flex-direction: column;
}

#multiImagePreview{
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 10px;
}

