<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Arabic Calligraphy Generator</h1>
        <p>Click the button below to get started.</p>
        <button class="btn" onclick="redirect()">Start</button>
    </div>

    <script>
        function redirect() {
            window.location.href = "background.html"; // Redirect to background page
        }
    </script>
</body>
</html>
